YarnDemo/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Windows/DecodedBanks/English(US).meta
YarnDemo/Assets/Audio/1.2.6.meta
YarnDemo/Assets/Samples/Yarn Spinner/1.2.6/Space.meta
YarnDemo/Assets/StreamingAssets/Audio/GeneratedSoundBanks/Mac/DecodedBanks.meta
